<extend name="Public:base" />

<block name="main-page">
    <div class="main-page">
        <!--grids-->
        <div class="grids">
            <div class="progressbar-heading grids-heading">
                <h2>龙虎榜数据（{$today}）</h2>
            </div>
            <div class="panel panel-widget">
                <div class="tables">
                    <h4>营业部上榜统计</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Broker</th>
                            <th>Count</th>
                            <th>Bamount</th>
                            <th>Samount</th>
                            <th>Bcount</th>
                            <th>Scount</th>
                            <th>Top3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="list" item="vo">
                            <tr>
                                <td>{$vo.broker}</td>
                                <td>{$vo.count}</td>
                                <td>{$vo.bamount}</td>
                                <td>{$vo.samount}</td>
                                <td>{$vo.bcount}</td>
                                <td>{$vo.scount}</td>
                                <td>{$vo.top3}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div style="float:left;"></div><div class="manu" style="float:right;">{$page}</div><div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <!--//grids-->

    </div>
</block>