<div class="sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" id="cbp-spmenu-s1">
            <div class="scrollbar scrollbar1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{:U('Index/index')}" <if condition="$Think.const.MODULE_NAME eq 'Home' and $Think.const.CONTROLLER_NAME eq 'Index'">class="active"</if>><i class="fa fa-home nav_icon"></i>关注池收益率</a>
                    </li>
                    <li>
                        <a href="{:U('Machine/index')}" <if condition="$Think.const.MODULE_NAME eq 'Home' and $Think.const.CONTROLLER_NAME eq 'Machine'">class="active"</if>><i class="fa fa-cogs nav_icon"></i>关注池待处理</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book nav_icon"></i>超跌超涨<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{:U('Super/super_down')}">超跌</a></li>
                            <li><a href="{:U('Super/down')}">准超跌</a></li>
                            <li><a href="{:U('Super/super_up')}">超涨</a></li>
                            <li><a href="{:U('Super/up')}">准超涨</a></li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large nav_icon"></i>基本面<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{:U('Basic/info')}">基本信息</a></li>
                            <li><a href="{:U('Basic/breakAssets')}">跌破净资产</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="inputs.html">Inputs</a>
                            </li>
                            <li>
                                <a href="validation.html">Form Validation</a>
                            </li>
                        </ul>
                        <!-- //nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="inbox.html">Inbox</a>
                            </li>
                            <li>
                                <a href="compose.html">Compose email</a>
                            </li>
                        </ul>
                        <!-- //nav-second-level -->
                    </li>
                    <li>
                        <a href="maps.html"><i class="fa fa-location-arrow nav_icon"></i>Maps</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="signup.html">SignUp</a>
                            </li>
                            <li>
                                <a href="blank-page.html">Blank Page</a>
                            </li>
                        </ul>
                        <!-- //nav-second-level -->
                    </li>
                    <li>
                        <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts</a>
                    </li>
                    <li>
                        <a href="#" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>龙虎榜数据<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Top/top_list')}">每日龙虎榜列表</a>
                            </li>
                            <li>
                                <a href="{:U('Top/cap_tops')}">个股上榜统计</a>
                            </li>
                            <li>
                                <a href="{:U('Top/broker_tops')}">营业部上榜统计</a>
                            </li>
                            <li>
                                <a href="{:U('Top/inst_tops')}">机构席位追踪</a>
                            </li>
                            <li>
                                <a href="{:U('Top/inst_detail')}">机构成交明细</a>
                            </li>
                        </ul>
                        <!-- //nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>